<div class="container">
    <h5>Thông tin đặt hàng:</h5><br> Tên người mua hàng: nguoimua <br>Địa chỉ: diachi <br>Số điện thoại: sodt <br>


    <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Tổng giá tiền</th>
                    </tr>
                </thead>
                <tbody>
                    danhsachdathang
                    <tr class="bottom_button">
                        <td>
                            <a class="btn_1" href="/">Mua thêm</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="cupon_text float-right">
                                <a class="btn_1" href="/XLNhapThongTin/XLGioHang">Thay đổi thông tin cá nhân</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <h5>Tổng cộng:</h5>
                        </td>
                        <td>
                            <h5>tongconggiohang</h5>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="checkout_btn_inner float-right">
                <a class="btn_1 checkout_btn_1" href="/XLThanhToan">Thanh toán</a>
            </div>
        </div>
    </div>
</div>