<div class="container">
    <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Mã hoá đơn</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Ngày đặt hàng</th>
                        <th scope="col">Tổng giá trị hoá đơn</th>
                        <th scope="col">Xác nhận thông tin</th>
                        <th scope="col">Xác nhận đã giao hàng</th>
                        <th scope="col">Xem chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    DanhSachHoaDon
                   

                </tbody>
            </table>
            
        </div>
    </div>
</div>