<div class="container">
    <h5>Thông tin đặt hàng:</h5><br> Tên người mua hàng: nguoimua <br>Địa chỉ: diachi <br>Số điện thoại: sodt <br>TinhTrangXacNhan<br>NhanVienXacNhan<br>
    <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Tổng giá tiền</th>
                    </tr>
                </thead>
                <tbody>
                    danhsachdathang
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <h5>Tổng cộng:</h5>
                        </td>
                        <td>
                            <h5>tongconggiohang</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
           
        </div>
    </div>
    ChuoiNutXacNhanHoaDon
</div>