<div class="container">
    <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
            <div class="login_part_form_iner">
                <h3><br> Xin hãy nhập thông tin sản phẩm mới:</h3>
                <form class="row contact_form" action="/ThemSanPham" method="POST" enctype="multipart/form-data">
                    <div class="col-md-12 form-group p_star">
                        <label>Nhập tên sản phẩm:</label>
                        <input type="text" class="form-control" id="name" name="name" value="" placeholder="Tên sản phẩm" required>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <label>Nhập đơn giá bán:</label>
                        <input type="number" class="form-control" id="giaban" name="giaban" value="" placeholder="Giá bán" min="0">
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <label>Nhập loại sản phẩm:</label>
                        <br>
                        <select name="nhomsanpham" id="Nhom">
                            thongtinnhomsanpham
                        </select>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <label>Nhập thông tin sản phẩm:</label>
                        <textarea class="form-control" id="" name="thongtin" cols="30" rows="10"></textarea>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <label>Nhập số lượng tồn:</label>
                        <input type="number" class="form-control" id="soluongton" name="soluongton" value="" placeholder="Số lượng tồn" min="0">
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <label>Chọn hình ảnh (5mb tối đa, file png):</label>
                        <input type="file" class="form-control" id="hinhanh" name="hinhanh" value="">
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="btn_3">
                        Xác nhận
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>