<div class="container">
    <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
            <div class="login_part_form_iner">
                <h3><br> Xin hãy nhập thông tin đặt hàng: </h3>
                <form class="row contact_form" action="/XLNhapThongTin" method="POST" novalidate="novalidate">
                    <div class="col-md-12 form-group p_star">
                        <label>Thông tin thanh toán:</label>
                        <input type="text" class="form-control" id="name" name="name" value="" placeholder="Họ tên" required>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="diachi" name="diachi" value="" placeholder="Địa chỉ">
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="sodt" name="sodt" value="" placeholder="Số điện thoại" required>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <input type="hidden" class="form-control" id="" name="tenurl" value="duongdantruocdo">
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="btn_3">
                        Xác nhận
                    </button>
                    </div>
                    <a href="#">Muốn thay đổi hoá đơn cũ ?</a>
                </form>
            </div>
        </div>
    </div>
</div>