<div class="container">
    <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
            <div class="login_part_form_iner">
                <h3><br> Sửa thông tin sản phẩm:</h3>
                <form class="row contact_form" action="/SuaSanPhamXacNhan" method="POST" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" id="masp" name="masanpham" value="MaSanPham">
                    <div class="col-md-12 form-group p_star">
                        <label>Nhập tên sản phẩm:</label>
                        <input type="text" class="form-control" id="name" name="name" value="TenSanPham" placeholder="Tên sản phẩm" required>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <label>Nhập đơn giá bán:</label>
                        <input type="number" class="form-control" id="giaban" name="giaban" value="DonGiaBan" placeholder="Giá bán" min="0">
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <label>Nhập loại sản phẩm:</label>
                        <br>
                        <select name="nhomsanpham" id="Nhom">
                            DanhSachNhomSanPham
                        </select>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <label>Nhập thông tin sản phẩm:</label>
                        <textarea class="form-control" id="" name="thongtin" cols="30" rows="10">ThongTinSanPham</textarea>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <label>Nhập số lượng tồn:</label>
                        <input type="number" class="form-control" id="soluongton" name="soluongton" value="SoLuongTon" placeholder="Số lượng tồn" min="0">
                    </div>
                    
                    <div class="col-md-12 form-group p_star">
                        <img src="/SanPham/MaSanPham.png" alt="" style=" height: 100px;">
                        <br>
                        <label>Đổi ảnh mới (5mb tối đa, file png):</label>
                        <input type="file" class="form-control" id="hinhanh" name="hinhanh" value="">
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="row">
                            <button type="submit" value="submit" class="btn_3 p-4">
                            Xác nhận thay đổi
                            </button> 
                            <a href="/" class="btn_3 p-4">Không thay đổi</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>