<div class="container box_1170">
    <div class="section-top-border">
        <h3 class="mb-30">Thông tin nhân viên: TenNhanVien</h3>
        <div class="row">
            <div class="col-md-3">
                <img src="/NhanVien/MaSoNhanVien.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-9 mt-sm-20">
                <p>
                    <ul class="">
                        <li>
                            Mã số nhân viên: MaSoNhanVien
                        </li>
                        <li>
                            Tên nhân viên: TenNhanVien
                        </li>
                        <li>
                            Số điện thoại: SoDienThoaiNhanVien
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="genric-btn success-border" data-toggle="collapse" data-target="#picture">Thay đổi ảnh đại diện</button>
                <div id="picture" class="collapse">
                    <form action="/XLThayDoiAnhDaiDien" method="post" enctype="multipart/form-data">
                        <label for="myfile">Chọn ảnh mới:</label>
                        <label for="myfile">Chỉ chấp nhận file png và dung lượng nhỏ hơn 5mb)</label>
                        <input type="hidden" name="manhanvien" value="MaSoNhanVien">
                        <input type="file" id="hinhanh" name="hinhanh"><br><br>
                        <input type="submit" class="genric-btn info-border" value="Xác nhận">
                      </form>
                  </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="genric-btn success-border" data-toggle="collapse" data-target="#matkhau">Thay đổi mật khẩu</button>
                <div id="matkhau" class="collapse">
                   <form action="/XLThayDoiThongTin" method="post">
                        <input type="hidden" name="manhanvien" value="MaSoNhanVien" >
                        <input type="password" name="newpassword"value="" placeholder="Mật khẩu mới">
                        <input type="password" name="confirm"value="" placeholder="Ghi lại mật khẩu mới">
                        <input type="hidden" name="sodienthoai" value="" >
                        <input type="submit" class="genric-btn info-border" value="Xác nhận">
                    </form>
                  </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="genric-btn success-border" data-toggle="collapse" data-target="#phone">Thay đổi số điện thoại</button>
                <div id="phone" class="collapse">
                    <form action="/XLThayDoiThongTin" method="post">
                        <input type="hidden" name="manhanvien" value="MaSoNhanVien" >
                        <input type="hidden" name="newpassword"value="" placeholder="Mật khẩu mới">
                        <input type="hidden" name="confirm"value="" placeholder="Ghi lại mật khẩu mới">
                        <input type="text" name="sodienthoai" value=""  placeholder="Số điện thoại mới">
                        <input type="submit" class="genric-btn info-border" value="Xác nhận">
                    </form>
                  </div>
            </div>
           
            
        </div>
    </div>
</div>